<div class="content-wrapper content-wrapper1 ">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <!-- <h1>
        Covid-19 India Dashboard

      </h1> -->
      <!-- <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">Dashboard</li>
      </ol> -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
              <div class="inner">
                <h3>{{Confirmed}}</h3>

                <p>Total Confirmed Cases</p>
              </div>
              <div class="icon"><i class="fas fa fas fa-user-md"></i></div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
              <div class="inner">
                <h3>{{Active}}<sup style="font-size: 20px"></sup></h3>

                <p>Active Cases</p>
              </div>
              <div class="icon"><i class="fas fa fas fa-ambulance"></i></div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
              <div class="inner">
                <h3>{{Recovered}}</h3>

                <p>Recovered Cases</p>
              </div>
              <div class="icon"><i class="fas fa fas fa-heartbeat"></i></div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
              <div class="inner">
                <h3>{{Death}}</h3>

                <p>Total Death</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
            </div>
          </div>

        </div>
        <app-add-efforts></app-add-efforts>
      </section>
    <!-- /.content -->


  </div>
