.CustomFromcss {
  overflow: hidden;
  text-overflow: clip;
  /* border-radius: 3px; */
  margin: 10px 10px;
}


.user-panel > .info {
  padding: 5px 5px 5px 15px;
  line-height: 1;
  position: initial;
  left: 55px;
}
