<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Release
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    Home
                </a>
            </li>
            <li class="active">Release</li>
        </ol>
    </section>


    <!-- Main content -->
    <section class="content">
        <!-- <div class="box">
          <div class="box-header">
            <h3 class="box-title">Welcome to Timesheet Systems !! </h3>
          </div>
        </div> -->
        <!-- <button type="button" style="margin: 3px 879px;" class="btn btn-primary" (click)="openModal(template)">Add Stock</button> -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab_1" data-toggle="tab">Add Release</a></li>
          <!-- <li><a href="#tab_2" data-toggle="tab">Release Timeline Chart</a></li> -->
          <li><a href="#tab_3" data-toggle="tab">Progress Bar Chart</a></li>

          <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
        </ul>
        <div class="box box-default tab-content" >
            <div class="box tab-pane active" id="tab_1">
                <div class="box-header">
                    <h3 class="box-title">Release Details</h3>
                    <div class="box-tools pull-right">
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="openModal(template)"
                        >
                            Add Release
                        </button>

                        <ng-template #template>
                            <div class="modal-header">
                                <h4 class="modal-title pull-left">Add Release</h4>
                                <button
                                    type="button"
                                    class="close pull-right"
                                    aria-label="Close"
                                    (click)="modalRef.hide()"
                                >
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                  <form [formGroup]="releaseForm" class="form-horizontal" (ngSubmit)="save()" #formDir="ngForm" novalidate>
                    <div class="box-body">
                    <div class="form-group">
                      <label for="Release Name" class="col-sm-3 control-label txtalign">Release Name</label>
                        <div class="box-body">
                        <div class="row">
                          <div class="col-sm-6">
                              <input type="text" formControlName="Releasename" class="form-control" placeholder="Release Name" maxlength="40" [ngClass]="{ 'is-invalid': submitted && f.Releasename.errors }" />
                              <div *ngIf="submitted && f.Releasename.errors" class="invalid-feedback">
                                  <div *ngIf="f.Releasename.errors.required">Releasename Name is required</div>
                              </div>
                              <!-- <div class="col-xs-12 col-12 col-md-4 form-group">
                                <input type="text"
                                       placeholder="Datepicker"
                                       class="form-control"
                                       bsDatepicker>
                              </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--
                    <div class="form-group">
                      <label for="Release Name" class="col-sm-3 control-label txtalign">Release Name</label>
                        <div class="box-body">
                        <div class="row">
                          <div class="col-sm-6">
                            <select [(ngModel)]="yourOption" id="category">
                              <option value="" disabled selected>>select an option</option>
                              <option *ngFor="let option of options$ | async" [value]="option.value">{item.category}}</option>
                            </select>
                                                          <div *ngIf="submitted && f.Releasename.errors" class="invalid-feedback">
                                  <div *ngIf="f.Releasename.errors.required">Releasename Name is required</div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div> -->


                    <div class="form-group">
                      <label for="Release Name" class="col-sm-3 control-label txtalign">Application Type</label>
                        <div class="box-body">
                        <div class="row">
                          <div class="col-sm-6">
                            <select id="department" name="department" formControlName="ApplicationID" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.ApplicationID.errors }">
                              <option value="0" selected>Select</option>
                              <option *ngFor="let opt of ddlappTypekeys" [value]="opt.value">
                                  {{opt.Name}}
                                </option>
                                 </select>
                            <div *ngIf="submitted && f.ApplicationID.errors" class="invalid-feedback">
                                  <div *ngIf="f.ApplicationID.errors.required">Application is required</div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="form-group">
                      <label for="End Date" class="col-sm-3 control-label txtalign" >Start Date</label>
                          <div class="box-body">
                              <div class="row">
                                <div class="col-sm-6">

                                    <input type="text" placeholder="Start Date"   formControlName="StartDate" class="form-control"  bsDatepicker  [ngClass]="{ 'is-invalid': submitted && f.StartDate.errors }" />
                                    <!-- <input type="date" formControlName="StartDate"  class="form-control"  placeholder="Start Date" [ngClass]="{ 'is-invalid': submitted && f.StartDate.errors }" /> -->
                                    <div *ngIf="submitted && f.StartDate.errors" class="invalid-feedback">
                                        <div *ngIf="f.StartDate.errors.required">Start Date  is required</div>
                                    </div>
                                </div>
                              </div>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="End Date" class="col-sm-3 control-label txtalign">End Date</label>
                          <div class="box-body">
                              <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" placeholder="End Date"  [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"  formControlName="EndDate" class="form-control"  bsDatepicker  [ngClass]="{ 'is-invalid': submitted && f.EndDate.errors }" />

                                    <!-- <input type="date" formControlName="EndDate" class="form-control" placeholder="End Date" [ngClass]="{ 'is-invalid': submitted && f.EndDate.errors }" /> -->
                                    <div *ngIf="submitted && f.EndDate.errors" class="invalid-feedback">
                                        <div *ngIf="f.EndDate.errors.required">End Date  is required</div>
                                    </div>
                                </div>
                              </div>
                            </div>
                      </div>

                    <!-- /.form-group -->
                    <!-- <div class="form-group">
                      <label for="Comments" class="col-sm-3 control-label txtalign">Comments</label>
                    <div class="box-body">
                        <div class="row">
                          <div class="col-sm-6">
                              <input type="text" formControlName="Comments" class="form-control"  placeholder="Comments" [ngClass]="{ 'is-invalid': submitted && f.Comments.errors }" />
                              <div *ngIf="submitted && f.Comments.errors" class="invalid-feedback">
                                  <div *ngIf="f.Comments.errors.required">Comments is required</div>
                              </div>
                          </div>
                        </div>
                      </div>
                  </div> -->


                  <div class="form-group">
                    <label for="Release Name" class="col-sm-3 control-label txtalign">Status</label>
                      <div class="box-body">
                      <div class="row">
                        <div class="col-sm-6">
                          <select id="department" name="department" formControlName="Status" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.Status.errors }">
                            <option value="0" selected>Select</option>
                            <option *ngFor="let opt of ddlStatusTypekeys" [value]="opt.value">
                                {{opt.Name}}
                              </option>
                               </select>
                          <div *ngIf="submitted && f.Status.errors" class="invalid-feedback">
                                <div *ngIf="f.Status.errors.required">Status is required</div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>

              </div>
              <div class="box-footer" style="text-align: center;">
                  <button type="submit" style="margin-right: 16px; "class=" btn btn-primary">Save</button>
                  <button class="btn btn-danger" type="button"  (click)="modalRef.hide()">Cancel</button>
                </div>
              </form>


                            </div>
                        </ng-template>
                    </div>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead>
                          <tr>
                            <th *ngFor=" let key of keys">
                              <ng-container *ngIf="key != 'ReportURL'"> {{key}}</ng-container>

                            </th>
                          </tr>
                        </thead>
                        <tbody >
                          <tr *ngFor=" let res of arrDataTable; let i=index;">
                            <!-- <td *ngFor=" let key of keys" >

                                {{res[key]}}
                            </td> -->

                            <td *ngFor=" let key of keys" >
                              <ng-container *ngIf="key === 'Action'; then LinkName ; else NonLinkName"> </ng-container>

                            <ng-template #NonLinkName>
                                <ng-container *ngIf="key != 'Status'; then staus ; else status2"> </ng-container>


                                <ng-template #staus>
                                   {{res[key]}}
                            </ng-template>

                            <ng-template #status2>
                                <span class="label label-warning">{{res[key]}}</span>

                        </ng-template>

                            </ng-template>
                            <ng-template #LinkName>
                                <a >
                                    <i class="glyphicon glyphicon-pencil" style="padding-right: 20px;" (click)="openModalEdit(template,res[key])"> </i>
                                    <i class="glyphicon glyphicon-trash"></i>
                                  </a>
                          </ng-template>
                            </td>
                          </tr>
                        </tbody>
                        <!-- <tfoot>
                          <tr>
                              <th>Total</th>
                              <th>{{totalcount}}</th>
                          </tr>
                      </tfoot> -->
                        </table>
                </div>
                <!-- /.box-body -->
            </div>

            <div class="tab-pane" id="tab_3">
             <app-barchart></app-barchart>


            </div>
<!--
            <div class="tab-pane" id="tab_2">

             <gantt></gantt>
            </div> -->


        </div>

    </section>
    <!-- /.content -->
</div>

<script>
    $(document).ready(function(){
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
});
</script>
