@import "dhtmlx-gantt/codebase/dhtmlxgantt.css";

.gantt-chart{
	position: relative;
	width: 100%;
	height: 600px;
}


.gantt_add, .gantt_grid_head_add {
  width: 100%;
  height: 100%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFW…QMvUdBBAuUY4vDz8iAcZinA2zgCHqAYQMseAywJcYFAAEGAM+UFGuohFczAAAAAElFTkSuQmCC);
  background-position: 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
  -moz-opacity: .3;
  opacity: .3;
  display: none;
}
