<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
<!--
      <div class="box">
          <div class="box-header">
            <h3 class="box-title">Welcome to Timesheet Systems !! </h3>
          </div>
        </div> -->


        <div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title">Daily-Weekly Status Report</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
          </div>


          <form >

          <div class="box-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">

                  <label for="firstName">First Name</label>
                  <label>Task</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Task">
                  <!-- <ng-multiselect-dropdown
                  name='test'
                  [placeholder]="'custom placeholder'"
                  [data]="dropdownList"
                  [(ngModel)]="selectedItems"
                  [settings]="dropdownSettings"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown> -->

                </div>
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <label>Task</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Task">

                </div>
                <div class="form-group">
                    <label for="lastName">Email</label>
                    <label>Task</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Task">

                </div>

                <!-- /.form-group -->
                <div class="form-group">
                  <label>Task </label>
                  <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                  </select>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-6">
                <div class="form-group">
                  <label>Task</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Task">

                </div>
                <!-- /.form-group -->
                <div class="form-group">
                  <label>Task</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Task">

                </div>
                <div class="form-group">
                  <label>Task</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Task">

                </div>
                <div class="form-group">
                  <label>Task</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Task">

                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>


          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          </form>

        </div>


  </section>
  <!-- /.content -->
</div>
